<?xml version="1.0" encoding='utf-8'?>
<robot name="jaka_single" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <material name="white">
        <color rgba="0.6 1 1 1"/>
    </material>

    <xacro:include filename="$(find jaka_zu7_v2)/urdf/jaka_zu7_v2.xacro" ns="right"/>
    <xacro:right.jaka_robot prefix="right_"/>

    <link name="right_gripper_base_link">
        <visual>
            <geometry>
                <mesh filename="package://jaka_zu7_v2/meshes/gripper-raw.STL"/>
            </geometry>
            <material name="gripper_color"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="package://jaka_zu7_v2/meshes/gripper-raw.STL"/>
            </geometry>
        </collision>
    </link>
    <joint name="right_ee_joint" type="fixed">
        <parent link="right_link_6"/>
        <child link="right_gripper_base_link"/>
        <origin xyz="0 0 0.039" rpy="0 0 0"/>
    </joint>

    <material name="gripper_color">
        <color rgba="0.2 0.6 0.8 1.0"/>
    </material>

</robot>
