<launch>
    <!-- 机械臂 begin ++++++++++++++++++++++++++++++++++++++++++++ -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find mpv2)/urdf/jaka_single.xacro"/>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mpv2)/config/jaka_single.rviz" required="true"
          output="screen"/>

    <!--    qjaka_gui and 发布tf-->
<!--     <node pkg="qjaka_gui" type="qjaka_gui" name="qjaka_gui" output="screen" respawn="true" respawn_delay="0.5"> -->
<!--         <param name="left_ip" value="192.168.0.132"/> -->
<!--         <param name="right_ip" value="192.168.0.130"/> -->
<!--     </node> -->
<!--     <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"> -->
<!--         <rosparam param="source_list">[/jaka_joint_states, /fake_jaka_joint_states]</rosparam> -->
<!--     </node> -->

    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui">
<!--        <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam> -->
       <rosparam param="source_list">[/yzy_joint_states]</rosparam>
   </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true"
          output="screen"/>

<!--     <node pkg="octomap_server" type="octomap_server_node" name="octomap_server_node"> -->
<!--         <param name="frame_id" type="string" value="platform"/> -->
<!--         <param name="latch" type="bool" value="false"/> -->
<!--         <param name="resolution" value="0.01" /> -->
<!--     </node> -->

<!--          --><!-- moveit begin ++++++++++++++++++++++++++++++++++++++++++++ -->
<!--      --><!-- By default, we are not in debug mode -->
<!--     <arg name="debug" default="false"/> -->
<!--      --><!-- By default, we will load or override the robot_description -->
<!--     <arg name="load_robot_description" default="true"/> -->
<!--      --><!-- specify the palanning pipeline -->
<!--     <arg name="pipeline" default="ompl"/> -->
<!--      --><!-- Set execution mode for fake execution controllers -->
<!--     <arg name="execution_type" default="via points"/> -->

<!--      --><!-- moveit -->
<!--     <include file="$(find dual_moveit_config)/launch/move_group.launch"> -->
<!--         <arg name="allow_trajectory_execution" value="true"/> -->
<!--         <arg name="fake_execution" value="true"/> -->
<!--         <arg name="execution_type" value="$(arg execution_type)"/> -->
<!--         <arg name="info" value="true"/> -->
<!--         <arg name="debug" value="$(arg debug)"/> -->
<!--         <arg name="pipeline" value="$(arg pipeline)"/> -->
<!--         <arg name="load_robot_description" value="false"/> -->
<!--     </include> -->

<!--   <node pkg="pickingv2" type="uniform_sample_filter" name="uniform_sample_filter"/> -->
</launch>
